<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">    
    <meta name="google" content="notranslate" />
    <meta content="About Vaisakh" name="Vaisakh K">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Work Exp</title>

    <link href="./static/design.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">Home</a></li>
                        <li><a href="./about.html" title="">Work Exp</a></li>
                        <li><a href="./works.html" title="">Projects</a></li>                        
                        <!-- <li><a href="./contact.html" title="">Contact</a></li> -->
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">Work Experience</h1>                       
                    </div>
                    <div class="section-container-spacer text-center">                        
                        <a href="{{ url_for('download_docx') }}" target="_blank" title="" class="btn btn-default" download="Vaisakh_resume.docx">Download Resume.docx</a>                        
                        <a href="{{ url_for('download_pdf') }}" target="_blank" title="" class="btn btn-default" download="Vaisakh_resume.pdf">Download Resume.pdf</a>                        
                    </div>
                    

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <h3>Flipt LLC, NJ, USA<span style="float: right;">Apr 2022 - Dec 2023</span></h3>
                                    <ul>
                                        <li>Developed Flask based REST API components that adjudicates claims for pharmacy benefit management by
                                            pre-processing the requests (parsing, validating in Pydantic and acknowledging through RabbitMQ) in Python,
                                            and reviewing based on patient information extracted from Couchbase DB and Amazon Redshift.</li>
                                        <li>Created Apache Airflow pipelines that process around 50K records of PHI data daily by extracting from SFTP
                                            transferred files, transforming using Python, NoSQL scripts and loading into AWS S3 through DAGs.</li>
                                        <li>Implemented asynchronous modules in Python for optimizing database calls and http requests along with
                                            pagination in data upserts which reduced the service response time by 27% and improved CPU usage by 14%.</li>
                                        <li>Worked on Python packages including PyCryptodome for PHI data encryption, Pandas, numpy for efficient
                                            claim accumulation calculations, Pytest for incorporating unit tests and monitoring tools Datadog and Splunk.</li>
                                    </ul>
                                    <h3>Alpine Electronics, CA, USA<span style="float: right;">Feb 2022 - Apr 2022</span></h3>
                                    <ul>
                                        <li>Implemented advanced image processing techniques in OpenCV and Mediapipe to preprocess input data,
                                            resulting in improved feature extraction and reduced noise in tracking boosting the model accuracy by 9%.</li>
                                        <li>Automated the process of integrating pre-processed images into a RestNet model fine-tuning workflow from
                                            AWS S3 bucket, leading to a 12% reduction in model training time without compromising model accuracy.</li>
                                        <li>Diversified training data by applying data augmentation techniques like random rotation, translations and flips
                                            thereby improving the model’s ability to generalize unseen gaze patterns and environmental conditions.</li>                                        
                                    </ul>
                                    <h3>Iqvia, BLR, IND<span style="float: right;">Feb 2019 - Aug 2019</span></h3>
                                    <ul>
                                        <li>Employed Python scripts coupled with SQL queries to efficiently transform medical sales data stored in MySQL
                                            DB into delimited file formats causing a 40% reduction in time required for generating client specific reports.</li>
                                        <li>Collaboratedwiththecodemigrationteamto developPythonscriptsthatinterfacewithMySQLDBtoreplace
                                            DB2 loads by Mainframe JCL procedures which improved scalability and increased data loading speed by 25%.</li>
                                        <li>Engaged in all SDLC phases of drug sales reporting project including design, development and implementation.</li>
                                        <li>Collaborated with DevOps teams to establish continuous integration pipelines, automating testing, deployment,
                                            and monitoring processes for the SaaS application.</li>
                                    </ul>
                                    <h3>Wipro, BLR, IND<span style="float: right;">Jun 2015 - Feb 2019</span></h3>
                                    <ul>
                                        <li>Revamped daily health check activities including server readiness assessment, quote creation, critical job failure alert reports and ticket assignments by creating Python modules which saved 1 hour per day for the team.</li>
                                        <li>Achieved 40% increase in data retrieval speed by optimizing DB2 queries using JCL, COBOL, DB2 and Rexx which led to reduction in daily and monthly batch processing duration by 40% and 30% respectively.</li>                                        
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.js"></script>
</body>

</html>