<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">    
    <meta name="google" content="notranslate" />
    <meta content="About Vaisakh" name="Vaisakh K">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Work Exp</title>

    <link href="./static/design.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">Home</a></li>
                        <li><a href="./about.html" title="">Work Exp</a></li>
                        <li><a href="./works.html" title="">Projects</a></li>                        
                        <!-- <li><a href="./contact.html" title="">Contact</a></li> -->
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">Work Experience</h1>                       
                    </div>
                    <div class="section-container-spacer text-center">                        
                        <a href="{{ url_for('download_docx') }}" target="_blank" title="" class="btn btn-default" download="Vaisakh_Kusabhadran.docx">Download Resume.docx</a>                        
                        <a href="{{ url_for('download_pdf') }}" target="_blank" title="" class="btn btn-default" download="Vaisakh_Kusabhadran.pdf">Download Resume.pdf</a>                        
                    </div>
                    

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <h3>Flipt, NJ, USA(Software Engineer)<span style="float: right;">Apr 2022 - Dec 2023</span></h3>
                                    <p>Backend developer responsible for development and maintenance of claim adjudication and pharmacy benefit management systems.</p>
                                    <ul>
                                        <li>Developed <b>REST</b> endpoints in <b>Flask</b> that handles ~2K requests for automated treatment authorization using Python and RabbitMQ <b>reducing manual intervention from 2 hours to 10 minutes</b>.</li>
                                        <li>Implemented asynchronous modules in <b>Python</b> for optimizing database calls and http requests which <b>reduced service response time by 27% and improved CPU usage by 14%</b>.</li>
                                        <li><b>Improved average claim settlement time duration by 30%</b> through substitution of SQL joins with Pandas for data comparison and the utilization of NumPy for payment calculations.</li>
                                        <li>Collaborated with DevOps teams to establish CI/CD pipelines, containerization and orchestration strategies using <b>Docker and Kubernetes, accelerating release cadence from monthly to biweekly</b>.</li>
                                        <li>Substituted Python scripts with ETL pipeline to load insurance coverage data from NoSQL database (Couchbase) to AWS S3 and Redshift, <b>eliminating the need for manual intervention entirely</b>.</li>
                                    </ul>
                                    <h3>Alpine Electronics, CA, USA(ML Engineer)<span style="float: right;">Feb 2022 - Apr 2022</span></h3>
                                    <p>Member of machine learning team responsible for improving the model's ability to generalize unseen gaze patterns and environmental conditions.</p>
                                    <ul>
                                        <li>Enhanced feature extraction using multiple image processing techniques in <b>OpenCV</b> like histogram equalization and image segmentation, <b>boosting the model accuracy by 9%</b>.</li>
                                        <li>Automated the process of integrating pre-processed images into a RestNet model fine-tuning workflow from
                                            AWS S3 bucket, <b>leading to a 12% reduction in model training time</b>.</li>
                                        <li>Diversified training data by applying data augmentation techniques like random rotation, translations and flips
                                            thereby improving the model’s ability to generalize unseen gaze patterns and environmental conditions.</li>                                        
                                    </ul>
                                    <h3>Iqvia, BLR, IND(Sr.Software Engineer)<span style="float: right;">Feb 2019 - Aug 2019</span></h3>
                                    <p>Contributor to the system migration team involved in transitioning legacy Mainframe code to Python scripts.</p>
                                    <ul>
                                        <li>Transformed medical sales data in MySQL DB to delimited files by incorporating SQL queries into Python scripts, resulting in a <b>40% reduction in client specific report generation time.</b></li>                                                                               
                                        <li>Migrated JCL procedures to Python MySQL DB scripts which <b>increased data loading speed by 25%</b>.</li>
                                        <li>Engaged in all SDLC phases of drug sales reporting project following <b>Agile methodologes</b> including backlog grooming, sprint planning, daily stand-ups, sprint retrospective, etc .</li>
                                    </ul>
                                    <h3>Wipro, BLR, IND(Software Engineer)<span style="float: right;">Jun 2015 - Feb 2019</span></h3>
                                    <p>Built Mainframe/Python applications for client engagement teams within the life insurance industry.</p>
                                    <ul>
                                        <li>Revamped daily health check activities including server readiness assessment, quote creation, critical job failure alert reports and ticket assignments by creating Python modules which <b>saved 1 hour per day for the team</b>.</li>
                                        <li>Achieved 40% increase in data retrieval speed by optimizing DB2 queries using JCL, COBOL, DB2 and Rexx which led to <b>reduction in daily and monthly batch processing duration by 40% and 30%</b> respectively.</li>                                        
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.js"></script>
</body>

</html>