<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">    
    <meta name="google" content="notranslate" />
    <meta content="Vaisakh's portfolio" name="Vaisakh Kusabhadran">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Vaisakh Kusabhadran</title>

    <link href="{{url_for( 'static', filename='design.css' )}}" rel="stylesheet">
</head>

<body class="minimal">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">Home</a></li>
                        <li><a href="./about.html" title="">Work Exp</a></li>
                        <li><a href="./works.html" title="">Projects</a></li>                        
                        <!-- <li><a href="./contact.html" title="">Contact</a></li> -->

                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <!-- Add your site or app content here -->
    <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>Hello,<br>
                                <span id="typed-strings">
                                <span>I am  Vaisakh</span>
                                <span>I am a Data Engineer</span>
                                <span>I am a Backend Engineer</span>
                                </span>
                                <span id="typed"></span>
                            </h1>  
                            <h3 style="width: 80%; text-align: left;">
                                Over 7+ years of experience in backend web development and data engineering having successfully contributed to various domains, including Financial Technology (Clover Networks), Life Insurance (Aviva UK), Healthcare (IQVIA), and Pharmacy Benefit Management (Flipt LLC). Technical expertise in development of REST APIs, working on SQL/NoSQL databases, AWS/GCP cloud services and the creation of ETL pipelines among other competencies.
                            </h3>    
                            <h3 style="width: 80%; text-align: left;">
                                Curious about AI and currently upskilling in LLMs to build intelligent, context-aware applications. Take a look at my projects section above to see some of the exciting work in progress!
                            </h3> 
                            <a href="https://www.linkedin.com/in/vaisakhk/" title="" class="fa-icon">
                                <i class="fa fa-linkedin"></i>
                            </a>                                                        
                            <a href="https://github.com/kusabhadranv" title="" class="fa-icon">
                                <i class="fa fa-github"></i>
                            </a>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            type();
            movingBackgroundImage();
        });
    </script>


    <script src={{url_for( 'static', filename='main.js' )}}></script>
</body>

</html>